{% include 'header.twig' %}
<h1 class="ui-state-hover ui-corner-all ui-header">Javascript</h1>
jquery<br/>
jquery-ui<br/>
wijmo<br/>
headjs<br/>
lesscss<br/>
jquery-sticky-footer<br/>
jquery-placeholder<br/>
<br/>
<h1 class="ui-state-hover ui-corner-all ui-header">PHP</h1>
Silex<br/>
Doctrine<br/>
Twig<br/>

{% include 'footer.twig' %}