<button id="previous" class="ui-button-prev" onclick="slideLeft(this);" title="Ctrl + &larr;">&nbsp;</button>
<button id="next" class="ui-button-next" onclick="slideRight(this);" title="Ctrl + &rarr;">&nbsp;</button>
<div id="contentSlider">
        <div id="category" class="ui-slide">
                <h1 class="ui-state-hover ui-corner-all ui-header">Categories</h1>
                <div class="ui-list">
                        <h3><a href="#">Langage</a></h3>
                        <div>desc</div>
                        <h3><a href="#">Plateforme</a></h3>
                        <div>desc</div>
                        <h3><a href="#">Logiciel</a></h3>
                        <div>desc</div>
                        <h3><a href="#">Reference</a></h3>
                        <div>desc</div>
                        <h3><a href="#">Ressource</a></h3>
                        <div>desc</div>
                        <h3><a href="#">Concept</a></h3>
                        <div>desc</div>
                        <h3><a href="#">Securite</a></h3>
                        <div>desc</div>
                 </div>
        </div>
        <div id="demo" class="ui-slide">
                <h1 class="ui-state-active ui-corner-all ui-header">S'inscrire</h1>
                <table>
                        <tbody>
                                <tr>
                                        <td>Email :</td>
                                        <td><input type="text"/></td>
                                </tr>
                                <tr>
                                        <td>Mot de passe :</td>
                                        <td><input type="text"/></td>
                                </tr>
                                <tr>
                                        <td></td>
                                        <td><button class="hl">Participer maintenant</button></td>
                                </tr>
                        </tbody>
                </table>
        </div>
        <div id="live" class="ui-slide">
                <h1 class="ui-state-hover ui-corner-all ui-header">Demonstration</h1>
                Des multitudes de fiches concernant des produits et des concepts traitant du d&eacute;veloppement &agrave; tous les niveaux sont r&eacute;pertori&eacute;es sur ce site.
                <br/>
                <button>Voir la demonstration</button>
        </div>
</div>