                            </div>
			</div>
		</div>
		<div id="footer">
			<div id="footerFilter">
				<div class="centerContent">
					<div class="left">
						copyright&nbsp;&nbsp;bearoot.fr&nbsp;&nbsp;2011
					</div>
					<div class="right">
						<div class="menuA">
							<a href="#" class="item">A propos</a>
							<a href="{{ SERVER_ROOT }}credits" class="item">Credits</a>
							<a href="#" class="item">Feedback</a>
						</div>
					</div>
					<hr class="clearSep"/>
				</div>
			</div>
		</div>
	</body>
</html>