{% include 'header.twig' %}
<h1 class="ui-state-active ui-corner-all ui-header">Inscription</h1>
<fieldset class="hl">
    <legend class="ui-state-active ui-corner-all ui-header">Initialisation</legend>
    <input placeholder="Email"  type="text"/><br/>
    <input  placeholder="Mot de passe"  type="text"/><br/>
    <input  placeholder="Confirmation"  type="text"/><br/>
    <button class="hl">Participer maintenant</button><br/>
</fieldset>
{% include 'footer.twig' %}